@use "../../scss/color" as color;
@use "../../scss/typography" as typography;
@use "../../scss/breakpoint" as breakpoint;

.faq{
  width: min(100%, 37.5rem);
  height: max-content;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: calc(1rem * 12 / 16);
  background-color: color.$white;
  @media (min-width: breakpoint.$tablet){
    padding: 2.5rem;
  }

  > * + * {
    margin: 1.5rem 0 0 0;
    @media (min-width: breakpoint.$tablet){
      margin: 2rem 0 0 0;
    }
  }

  .head{
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .head__star{
    width: 1.5rem;
    height: 1.5rem;
    object-fit: scale-down;
  }

  .head__title{
    color:color.$purple-950;
    @include typography.text-preset-1;
  }
}
