@use "./scss/reset";
@use "./scss/typography";
@use "./scss/color" as color;
@use "./scss/breakpoint" as breakpoint;

.main-site{
  display: grid;
  grid-template-columns: 1.5rem 1fr 1.5rem;
  grid-template-rows: calc(1rem * 130 / 16) calc(1rem * 100 / 16) auto calc(1rem * 130 / 16);
  min-height: 100svh;
  background-color: color.$purple-100;
  @media (min-width: breakpoint.$tablet){
    grid-template-rows: calc(1rem * 166 / 16) calc(1rem * 154 / 16) auto calc(1rem * 166 / 16);
  }

  >*{
    grid-area: 2 / 2 / 4 / 3;
  }

  &::before{
    grid-area: 1 / 1 / 3 / -1;
    content: "";
    background-image: url("/public/images/background-pattern-mobile.svg");
    @media (min-width: breakpoint.$tablet){
      background-image: url("/public/images/background-pattern-desktop.svg");
    }
  }
}
